@import "../libs/Accordeon/MFSAccordeon"
@import "../libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar"
*
	margin 0
	padding 0
[class*="ymaps-2"][class*="-ground-pane"] {
	filter saturate(0.5) contrast(95%) brightness(105%)
}

.MapWrap
	display flex
	justify-content space-between
	height 90vh
#Map, #DescMap
	height 100%
#Map
	width 40%
#DescMap
	width 60%
#ContactTabs
	width: 100%

.City
	&-Link
		display: flex;
		padding: 10px 25px;
		transition 0.4s
		position relative
	
.Brand
	&-Link 
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		padding 10px
	&-Logo 
		width: 140px;
		margin-right: 15px;
	&-Element
		&:nth-child(odd)
			background-color #f2f2f2
			
	&-Inner
		padding 10px
		&:nth-child(odd) 
			background: #e0e0e0
	&-Name
		font-family: Roboto;
		font-weight: 500;
		font-size: 18px;
		color: #d64b4b;
		cursor: pointer;
		margin-bottom: 5px;
	&-Address
		font-family: Roboto;
		font-size: 14px;
		color: #4f4f4f;
		margin-bottom: 5px;
	&-LinkRedirection
		font-family: Roboto;
		font-size: 14px;
		text-decoration-line: underline;
		color: #d64b4b;